<div class="w-full flex justify-around bg-blue-900 p-3 text-white  ">


    <div class="flex flex-1">
        <a routerLink="lista">Lista usuarios</a>
    </div>

    <div class="flex justify-around w-[20%] ">
            <div>
                <button routerLink="login" class="transition-transform  hover:scale-90">Login</button>
            </div>
            <div>
                <button routerLink="register" class=" transition-transform  hover:scale-90">Sign in</button>
            </div>
  
    </div>
   
</div>