<div class="w-full flex justify-center">
  <div class="w-full"> <!-- O especifica un ancho concreto como w-[90%] -->
    <table class="w-full text-center"> <!-- Aprovecha todo el espacio disponible -->
      <thead>
        <tr >
          <th>Usuario</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{user.usuario}}</td>
          <td (click)="eliminarUsuario(user._id)">Eliminar</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
